/* banner */
.tec-belowbanner{
  max-width: 1200px;
    margin: 10px auto;
    padding: 20px 20px;
}
.Tc-quicksummary {
    color: var(--lightpurcolor);
    .tc-arrow{
    width:30%;
}
.tc-heading{
font-size: var(--headingsub);
font-weight: 500;
}
}
.tc-text{
   background-color: rgba(255, 119, 0, 0.13);
    padding: 30px;
    font-size: var(--parafont);
    border-radius: 10px;
    width: 78%;
    margin: 10px auto;
    border:1px solid #DBDBDB;
}

/* terms */

.terms-container{
    margin:6% 0px;
}
.terms-heading {
  font-size: var(--headingsub);
  font-weight: 500;
  color: var(--lightpurcolor);
  margin-bottom: 30px;
}

.terms-section {
  display: flex;
  gap: 15px;
  margin-bottom: 7%;
  align-items: flex-start;
}
.for-border{
 border: 1px dotted blue;
    border-radius: 50%;
    padding: 6px;
    margin-left: 10px;
}
.section-icon {
font-size: 30px;
    background: #C59DFF;
    border-radius: 55%;
    padding: 9px;
   
}

.section-bar {
  width: 4px;
  border-radius: 2px;
  margin-top: 5px;
}

.section-title {
  font-size: var(--subheadfont);
  margin-bottom: 8px;
  margin: 0px;
}

ul {
  padding-left: 20px;
  margin: 5px 0;
  font-size: var(--parafont);
}

.highlight-box {
  background: rgba(255, 0, 0, 0.1);
  padding: 15px;
  border-radius: 8px;
}

/* Colors */
/* .purple { color: #7b1fa2; }
.green { color: #00a859; }
.red { color: #e53935; }
.yellow { color: #f4b400; }
.violet { color: #8e24aa; } */
.terms-section.purple { border-left:2px solid #5292FF; }
.terms-section.green { border-left:2px solid #0BCF3C; }
.terms-section.red {border-left:2px solid #FF5252; }
.terms-section.yellow {border-left:2px solid #F8DB02; }
.terms-section.violet { border-left:2px solid #B76FDF; }


 .terms-text{
 text-align: center;
    h2{
font-size: var(--subheadfont);
     color: var(--lightpurcolor);
    }
    p{
        font-size: var(--parafont);
   
        color: var(--primarycolor);
    }
 }

 /* policy */
 .policy-text{
    font-size: var(--parafont);
    color: var(--lightpurcolor);
 }
 .policy-para{
    color: var(--lightpurcolor) ;
    font-size: var(--btnfont);
    
 }

 .collect-card{
    border-left:2px solid #5292FF;
    padding: 30px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: var(--parafont);
    .card1{
        padding: 10px;
        border-radius: 10px;
        background-color: #E4D9F5;
        color: var(--primarycolor);
        width: 365px;
        .para{
            color: var(--lightpurcolor);
            font-size: var(--parafont);
        }
    }
 }
 .poli{
    border-left:2px solid #D57628;
 }
 .poli-card1{
  max-width: 350px;
  img{
    width: 30%;
  }
 }
 .poli1{
  border: none;
  .card1{
    background-color: transparent;
  }
 }
 .terms-buttons{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
 }